:root {
    --clr-red: rgb(238 14 29);
    --clr-blue: rgb(82 82 246);
    --clr-green: rgb(176 246 176);
}

@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    button,
    input {
        font-size: 100%;
        font-family: inherit;
    }
}

body {
    background-color: rgb(255 228 196);
    height: 100dvh;
}

main {
    display: none;
}

.modal-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-block: 1em;
}

table {
    background-color: var(--clr-green);
}

td {
    height: 28px;
    width: 28px;
}

.prize {
    background-color: var(--clr-red);
}

.trap {
    background-color: var(--clr-blue);
}

.cell {
    background-color: var(--clr-green);
}

.legend-wrapper {
    width: 5em;
}

.prize-legend,
.trap-legend {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    padding: 1em;
    text-align: center;
}

.prize-legend {
    background-color: var(--clr-red);
    margin-block-end: 0.2em;
}

.trap-legend {
    background-color: var(--clr-blue);
}