:root {
    --clr-red: rgb(238 14 29); /* #ee0e1d */
    --clr-bg-red: rgb(253 99 109); /* #fd636d */
    --clr-blue: rgb(82 82 246); /* #5252f6 */
    --clr-bg-blue: rgb(144 144 228); /* #9090e4 */
    --clr-green: rgb(176 246 176); /* #b0f6b0 */
}

@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    button,
    input {
        font-size: 100%;
        font-family: inherit;
    }
}

body {
    background-color: rgb(255 228 196);
    height: 100dvh;
}

main {
    display: none;
}

.modal-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reset-btn-wrapper {
    text-align: center;
}

.start-btn {
    width: 100%;
}

.scores-wrapper {
    text-align: center;
    background: radial-gradient(circle at 100%, var(--clr-bg-blue), var(--clr-green));
    border-radius: 0.5rem;
}

.input-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-block: 1em;
}

table {
    background-color: var(--clr-green);
}

td {
    height: 36px;
    width: 36px;
}

.prize {
    background-color: var(--clr-red);
}

.trap {
    background-color: var(--clr-blue);
}

.cell {
    background-color: var(--clr-green);
}

.legend-wrapper {
    width: 5em;
}

.prize-legend,
.trap-legend {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    padding: 1em;
    text-align: center;
}

.prize-legend {
    background-color: var(--clr-bg-red);
    margin-block-end: 0.2em;
}

.trap-legend {
    background-color: var(--clr-bg-blue);
}

.new-personal-best-text {
    font-style: italic;
    background: linear-gradient(to bottom right, var(--clr-red), var(--clr-blue));
    background-clip: text;
    color: transparent;
}

.timer-score-wrapper {
    line-height: 0.8;
}